# Игнорировать файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать файлы настроек IDE (например, PyCharm)
.idea/
.vscode/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать .avi файлы

*.avi
*.mp4
*.gif
*.jpg
